# cached files
.venv
.ipynb_checkpoints
scripts/__pycache__
streamlit_app/__pycache__
streamlit_app/pages/__pycache__
streamlit_app/utils/__pycache__

# data files (.csv)
data/*

# joblib models
models/best_random_forest_model.joblib

# keep data folder
!data/.gitkeep
!data/data_processed.csv